/** LESS Variables **/

@black: #000000;
@white: #FFFFFF;
@grey: #cccccc;
@sans-serif: 'Arial', Helvetica, sans-serif;
@max-width: 1180px;

html, body {
	height:100%;
}

body {
	background:@black;
	font-family:@sans-serif;
	padding:0;
	margin:0;
	font-size:1.0em;
	line-height:1.4em;
	position:relative;
}

img {
	max-width:100%;
	height:auto;
}

p {
	margin:0 0 20px 0;
}

a.buttons {
	display:block;
	float:left;
	padding:3px 40px 3px 10px;
	color:@white;
	text-decoration: none;
	border:1px solid @white;
	text-align:left;
	font-size:0.9em;
	margin:0 10px 0 0;
}

h1 {
	margin:0 0 40px 0;
	font-weight:normal;
	font-size:2.4em;
}

h2 {
	font-weight:normal;
	margin:0 0 30px 0;
}

.container {
	background:@black url(../images/Unknown-2.jpeg) center top no-repeat;
	background-size: cover;
	width:100%;
	max-width:@max-width;
	margin:0 auto;
	height:100%;

	.content {
		box-sizing: border-box;
		padding:100px 50px;
		color:@white;
		background:rgba(0,0,0,0.5);

		@media screen and (min-width: 736px) {
			width:50%;
			max-width:400px;
			height:100%;
		}

	}
}

.modal-wrapper {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
	display:none;

	.modal {
	margin:0 auto;
	margin-top:50px;
	width:800px;
	max-width:92%;
	border:2px solid @grey;
	position:relative;

	@media screen and (min-width: 736px) {
		height:500px;
	}

	.modal-close {
		position:absolute;
		top:10px;
		right:15px;
		z-index:10;
		color:@grey;
		font-size:1.4em;
		display:block;
		line-height:1;
		cursor:pointer;
	}

	.modal-image, .modal-text {

		box-sizing: border-box;
		position:relative;
		height:300px;

		@media screen and (min-width: 736px) {
			float:left;
			width:40%;
			height:500px;
		}

		img {
			max-width:none;
			position:absolute;
			top:0;
			left:0;
		}
	}


	.modal-image {
		overflow:hidden;
	}

	.modal-text {
		padding:40px;
		background:@black;
		height:auto;
		@media screen and (min-width: 736px) {
			width:60%;
			padding:100px 150px 100px 20px;
			height:500px;
		}

	}

	&:after {
		content:'';
		clear:both;
		display:block;
	}
}

}